@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
    List<string> categories = (List<string>)ViewData["Categories"];
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<section class="home-banner">
    <div class="home-banner-container">
        <div class="home-banner-inner">
            <h2 class="home-banner-title">Na co máš chuť</h2>
            <form class="home-banner-search-form">
                <input class="home-banner-search-input" type="text" value="" name="filter-products-input"/>
                <button class="home-banner-search-btn" type="button">Vyhledat</button>
            </form>
        </div>
        <div class="home-banner-lower-text-wrap">
            @foreach(var category in categories) {
                <p class="home-banner-lower-text">
                    #@category
                </p>
            }
        </div>
    </div>
</section>
<div class="underline"></div>

<section class="home-showcase-wrap">
    <div class="home-showcase-grid-wrap">
        @foreach(var obj in Model) {
            @if (!obj.isDeleted) {
                double discountDisplay = 100 - (((double)obj.Discount / (double)obj.Price) * 100);
                <div class="home-showcase-grid-item">
                    @if (obj.isNew || obj.Discount > 0) {
                        <div class="home-showcase-grid-item-span-wrap">
                            @if (obj.isNew) {
                                <span 
                                    class="home-showcase-grid-item-span home-showcase-grid-item-span-new">
                                    New
                                </span>
                            }
                            @if (obj.Discount > 0) {
                                @if (discountDisplay > 0) {
                                    <span class="home-showcase-grid-item-span home-showcase-grid-item-span-discount">
                                            -@discountDisplay%
                                            
                                    </span>
                                } else {
                                    discountDisplay *= -1;
                                    <span class="home-showcase-grid-item-span home-showcase-grid-item-span-discount" >
                                            +@discountDisplay%
                                    </span>
                                }
                            }
                        </div>
                    }
                    <div class="home-showcase-grid-item-wrap home-showcase-grid-item-img-wrap">
                        <img 
                            src="@obj.ImageUrl" 
                            alt="Home Showcase Image" 
                            class="home-showcase-grid-item-img" 
                        />   
                    </div>
                    <div class ="home-showcase-grid-item-wrap">
                        <h3 class="home-showcase-grid-item-title">@obj.Name</h3>
                        <h5 
                            class="home-showcase-grid-item-stock" 
                            data-qty="@obj.Quantity">
                            Skladem: @obj.Quantity Ks
                        </h5>
                        <div class="home-showcase-grid-item-info-wrap">
                            @if (@obj.Discount > 0) {
                                <div>
                                    <span class="home-showcase-grid-item-price" style="text-decoration: line-through">
                                        @obj.Price Kč
                                    </span>
                                    <span>
                                        @obj.Discount Kč
                                    </span>
                                </div>
                            } else {
                                <span class="home-showcase-grid-item-price">
                                    @obj.Price Kč
                                </span>
                            }
                            <button 
                                class="home-showcase-grid-item-btn" 
                                data-cena="@obj.Price" 
                                id="@obj.ProductId">
                                Koupit
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
