@model IEnumerable<Order>

@{
    int cenaCelkem = 0;
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="/js/orders.js" defer></script>
</head>

<link rel="stylesheet" href="~/css/userOrders.css" asp-append-version="true" />

<body>
    <section class="orders-banner">
        <div class="orders-banner-container">
            <div class="orders-banner-inner">
                <h1>Moje objednávky</h1>
            </div>
        </div>
        <div class="underline"></div>
    </section>

    <section class="orders-content-section">

        <div class="orders-datepickers">
            <div class="orders-datepicker-od">
                <p>Od <input type="text" id="datepicker-od"></p>
            </div>
            <div class="orders-datepicker-do">
                <p>Do <input type="text" id="datepicker-do"></p>
            </div>
        </div>

        <div class="orders-tabulka">
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Čas</th>
                    <th>Produkt</th>
                    <th>Cena</th>
                    <th></th>
                </tr>
                @foreach(var obj in Model) {
                    cenaCelkem += obj.Price;
                    var date = obj.DateCreated.ToString("dd.MM.yyyy");
                    var time = obj.DateCreated.ToString("HH:mm:ss");
                    <tr class="orders-order-tr" data-price="@obj.Price">
                        <td>@date</td>
                        <td>@time</td>
                        <td>@obj.Name</td>
                        <td>@obj.Price Kč</td>
                        <td>
                            <button 
                                class="orders-tabulka-button" 
                                id=@obj.OrderId 
                                data-productId=@obj.ProductId
                                type="button"
                            >
                                ❌
                            </button>
                        </td>
                    </tr>
                }
                <tr class="orders-total">
                    <td>Cena celkem:</td>
                    <td></td>
                    <td></td>
                    <td class="orders-total-td"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="orders-export">
            <button class="orders-export-button" type"button">Export</button>
        </div>
    </section>
</body>