@model IEnumerable<Order>
@{
    int total = 0, cenaCelkem = 0;
}

<table id="orders-table">
    <tr id="head">
        <th>Datum</th>
        <th>Čas</th>
        <th>Produkt</th>
        <th>Cena</th>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        cenaCelkem += obj.Price;
        var date = obj.DateCreated.ToString("dd.MM.yyyy");
        var time = obj.DateCreated.ToString("HH:mm:ss");
        <tr class="orders-order-tr" data-price="@obj.Price">
            <td>@date</td>
            <td>@time</td>
            <td>@obj.Name</td>
            <td>@obj.Price Kč</td>
            <td>
                @if(obj.DateCreated.AddHours(24) > DateTime.Now)
                {
                <button class="orders-tabulka-button"
                    id=@obj.OrderId
                    data-productId=@obj.ProductId
                    type="button">
                    ❌
                </button>
                }
            </td>
        </tr>

        total += obj.Price;
    }
    <tr id="bottom" class="orders-total">
        <th>Cena celkem:</th>
        <th></th>
        <th></th>
        <th class="orders-total-td">@total Kč</th>
        <th></th>
    </tr>
</table>
